body{}
.back-img{
    background-image: url(../images/bg-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    background-position: 100%;
}
.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(50, 49, 49, 0.44);
}
.full-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.form{
    margin: 0 auto;
    display: block;
    background: #E0E0E0;
    padding: 11px 15px;
    
}
.form h1{
    margin: 3px 0 9px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.form img{
    width: 40px;
    height: 23px;
}
form{}
.form-control{
    border-radius: 0;
}
.btn-custom{
    background: #095182;
    color: white;
}
.any-ac{}
.any-ac p{
    text-align: center;
    font-size: 12px;
}
.any-ac a{}
.any-ac p a{}

@media (min-width: 266px){

 .form{
    width: 220px;
}}



/* media Query */

@media (min-width: 320px){

 .form{
    width: 280px;
}}

@media (min-width: 550px){

 .form{
    width: 300px;
}}

@media (min-width: 768px){

 .form{
    width: 360px;
}}

@media (min-width: 992px){

 .form{
    width: 370px;
}}


@media (min-width: 1200px){

 .form{
    width: 370px ;
}}
